/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f7;
  } */
  
  /* Container for Centering */
@import "tailwindcss";

  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  /* Form Styles */
  .register-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  /* Group for label and input */
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }
  
  /* Label Styles */
  label {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
  }
  
  /* Input Styles */
  .register-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover and Focus Effects for Inputs */
  .register-input:hover, input:focus {
    border-color: #4285f4;
    outline: none;
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.4);
  }
  
  /* Button Styles */
  .register-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .register-button:hover {
    background-color: #3367d6;
    transform: translateY(-2px);
  }
  
  .register-button:active {
    background-color: #2a56c6;
    transform: translateY(0);
  }
  
  /* Link Styles */
  .login-link a {
    color: #4285f4;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-link a:hover {
    color: #3367d6;
    text-decoration: underline;
  }
  
  /* Toast Position Fix */
  .Toastify__toast-container {
    margin-top: 50px;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    form {
      padding: 20px;
      width: 90%;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .register-input, .register-button {
      font-size: 14px;
    }
  } 

  .carousel-image {
    height: 450px; 
    object-fit: contain;
  }