
@import "tailwindcss";

.carousel-image {
  height: 450px; 
  object-fit: contain;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* src/Menu.css */

.form-control.bg-dark::placeholder {
  text-align: center;
  color: #ffd700;
  opacity: 1 ;
}

/* For cross-browser compatibility */
.form-control.bg-dark::-webkit-input-placeholder {
  color: #ffd700 ;
  opacity: 1 ;
}

.form-control.bg-dark::-moz-placeholder {
  color: #ffd700 ;
  opacity: 1 ;
}

.form-control.bg-dark:-ms-input-placeholder {
  color: #ffd700 ;
  opacity: 1 ;
}

.form-control.bg-dark:-moz-placeholder {
  color: #ffd700 ;
  opacity: 1 ;
}